USE [Ass_PRJ]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 03/21/2022 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[content] [text] NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 03/21/2022 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON
INSERT [dbo].[category] ([category_id], [name]) VALUES (14, N'Tin Tức')
INSERT [dbo].[category] ([category_id], [name]) VALUES (17, N'Cẩm nang')
INSERT [dbo].[category] ([category_id], [name]) VALUES (20, N'Nhật Ký')
SET IDENTITY_INSERT [dbo].[category] OFF
/****** Object:  Table [dbo].[account]    Script Date: 03/21/2022 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON
INSERT [dbo].[account] ([user_id], [username], [password], [email], [role]) VALUES (1, N'tuan', N'tuan', N'tuan@gmail.com', N'1')
INSERT [dbo].[account] ([user_id], [username], [password], [email], [role]) VALUES (2, N'admin', N'admin', N'admin@gmail.com', N'2')
INSERT [dbo].[account] ([user_id], [username], [password], [email], [role]) VALUES (3, N'đấ', NULL, NULL, N'1')
SET IDENTITY_INSERT [dbo].[account] OFF
/****** Object:  Table [dbo].[post]    Script Date: 03/21/2022 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](1000) NULL,
	[short_new] [nvarchar](3000) NULL,
	[images] [nvarchar](3000) NULL,
	[content] [nvarchar](3000) NULL,
	[create_date] [date] NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[post] ON
SET IDENTITY_INSERT [dbo].[post] OFF
/****** Object:  ForeignKey [FK_post_category]    Script Date: 03/21/2022 14:37:56 ******/
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_category]
GO
