<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>control.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContol</servlet-name>
        <servlet-class>control.DeleteContol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>control.UpdateControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContol</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
