body{
	background: #FFF;
	font-size: 14px;
}
.logo img{
	width: 150px;
	margin: auto;
}
.custom-acc{
	margin-bottom: 30px;
	border-top: 1px solid #ededed;
}
.custom-acc{
	margin-bottom: 30px;
	border-top: 1px solid #ededed;
}
img{
	max-width: 100%;
}
a{
	&:hover{
		text-decoration: none;
	}
	&:active{
		color: #000;
	}
}
a.active{
	color: #333;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-header{
	padding: 15px 0;
}
.menu-header{
	background: #1224c2;
	
}
.menu-header ul li{
	display: inline-block;
			color: #fff;
			padding: 10px 30px;
			text-transform: uppercase;

}
.menu-header ul li a{
color: #fff;
text-decoration: none
}
.menu-header ul li a{
	color: #fff;
}
.box-footer ul li{
	
			color: #fff;
padding-top: 10px;
			text-transform: uppercase;

}
.box-footer ul li a{
color: black;
text-decoration: none;

}
footer{
	padding-top:30px ;
	padding-bottom:40px;
}
.card-body a{
	color: black;
text-decoration: none;
}